@{
    ViewData["Title"] = "Home Page";
}

@model ArticlesForMainPageVM

   
    <h2 class="mt-5 mt-3">Tüm Makaleler</h2>
    <section class="row">
        @foreach (var item in Model.Articles)
        {            
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Author : @item.Author.UserName</h6>
                <p class="card-text">@item.Content.Substring(0,4)</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
           
        }
    </section>     

<hr />
    
    <h2 class="mt-5 mt-3">Trend Makaleler</h2>
    <section class="row">
        @foreach (var item in Model.TopViewedArticles)
        {
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Author : @item.Author.UserName</h6>
                <p class="card-text">@item.Content.Substring(0,4)</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        }
    </section>     
