@{
    ViewData["Title"] = "Home Page";
}

@model ArticlesForMainPageVM

 <br />

   @* @foreach (var item in Model.Articles)
    {
       <h1>@item.Author.UserName</h1>
       <div class="form-control">
       <h6>@item.Content</h6>
       </div>
       <br />

    }
     <br />

    <div class="form-control">Çok takip edilenler </div>
     @foreach (var jitem in Model.TopViewedArticles)//Neden null gelmiyor ??
    {
       <h1>@jitem.Author.UserName</h1>
       <div class="form-control">
       <h6>@jitem.Content</h6>
       </div>
        <br /> 
    }
    *@
    <main class="container-fluid p-4">
    <h2 class="mt-5 mt-3"> Makaleler</h2>
    <section class="row">
        @foreach (var item in Model.Articles)
        {
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Content</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    </section>     
</main>