@{
    ViewData["Title"] = "Home Page";
}

@model ArticlesForMainPageVM
<a id="CategoryButton" class="btn btn-outline-info" onclick="GetAddCategoryToUser()"> Kategori Ekle</a>
<div id="CategoryList">

  </div>
  <a class="btn btn-primary" asp-action="AddArticle"> Makale Ekle </a>
   <a class="btn btn-primary" asp-action="MyArticles" asp-route-id="@Model.Id"> Makalelerim </a>
   <a class="btn btn-primary" asp-action="UserPage" asp-route-id="@Model.Id"> Sayfam </a>
    <a class="btn btn-primary" asp-controller="Home" asp-action="ChangeImage" asp-route-id="@Model.Id"> Profil fotoğrafı Değiştir </a>
    <a class="btn btn-primary" asp-controller="Home" asp-action="EditUserPage" asp-route-id="@Model.Id"> Bilgilerimi Güncelle </a>
    

@if ( Model.InterestedArticles.Count()>0)
{
<div id="InteredtedArticles">
 <main class="container-fluid p-4">
    <h2 class="mt-5 mt-3">Beğenebileceğiniz Makaleler</h2>
    <section class="row">
        @foreach (var item in Model.InterestedArticles)
        {               
              <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Author : @item.Author.UserName</h6>
                <h6 class="card-subtitle mb-2 text-muted">Views : @item.ViewsCount</h6>
                <p class="card-text">@item.Content.Substring(0,60)</p>
                <hr/>                
                <a class="card-link" asp-action="ArticleRead" asp-route-id="@item.Id">Read</a>
                <small class="text-muted">@item.ReadTime Mins Read Time</small>
                <br>
                <small class="text-muted">@item.CreatedTime</small>
              </div>
            </div>
        }
    </section>     
</main>
</div>
<hr />
} 
<div id="TopViewedArticles">
 <main class="container-fluid p-4">
    <h2 class="mt-5 mt-3">En çok Okunan Top 10 Makaleler</h2>
    <section class="row">
        @foreach (var item in Model.TopViewedArticles)
        {            
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Author : @item.Author.UserName</h6>
                <h6 class="card-subtitle mb-2 text-muted">Views : @item.ViewsCount</h6>
                <p class="card-text">@item.Content.Substring(0,60)</p>
                <hr/>                
                <a class="card-link" asp-action="ArticleRead" asp-route-id="@item.Id">Read</a>
                <small class="text-muted">@item.ReadTime Mins Read Time</small>
                <br>
                <small class="text-muted">@item.CreatedTime</small>
              </div>
            </div>
        }
    </section>     
</main>
</div>
<hr />
<div id="AllArticles">
 <main class="container-fluid p-4">
    <h2 class="mt-5 mt-3">Tüm Makaleler</h2>
    <section class="row">
        @foreach (var item in Model.Articles)
        {            
             <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Author : @item.Author.UserName</h6>
                <h6 class="card-subtitle mb-2 text-muted">Views : @item.ViewsCount</h6>
                <p class="card-text">@item.Content.Substring(0,60)</p>
                <hr/>                
                <a class="card-link" asp-action="ArticleRead" asp-route-id="@item.Id">Read</a>
                <small class="text-muted">@item.ReadTime Mins Read Time</small>
                <br>
                <small class="text-muted">@item.CreatedTime</small>
              </div>
            </div>
        }
    </section>     
</main>
</div>
