@using MediumClone.Models.Authentication

@model ProfilePageVM


<div>
    <img src="@("~/image/"+Model.ImageName)" asp-append-version="true" width="250px" height="250px"/>
</div>
<div class="jumbotron">
  <h1 class="display-4">@Model.user.FirstName @Model.user.LastName</h1>  
  <p class="lead">@Model.user.UserName</p>
  <hr class="my-4">
  <p>@Model.user.UserDescription</p>
  
</div>
<hr/>
<div id="PersonelArticles">
 <main class="container-fluid p-4">
    <h2 class="mt-5 mt-3">@Model.user.UserName has these articles </h2>
    <section class="row">
        @foreach (var item in Model.user.Articles)
        {            
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Author : @item.Author.UserName</h6>
                <h6 class="card-subtitle mb-2 text-muted">Views : @item.ViewsCount</h6>
                <p class="card-text">@item.Content.Substring(0,60)</p>
                <hr/>                
                <a class="card-link" asp-action="ArticleRead" asp-route-id="@item.Id">Read</a>
                <small class="text-muted">@item.ReadTime Mins Read Time</small>
                <br>
                <small class="text-muted">@item.CreatedTime</small>
              </div>
            </div>
        }
    </section>     
</main>
</div>