@{
    ViewData["Title"] = "Home Page";
}

@model ArticlesForMainPageVM
<a id="CategoryButton" class="btn btn-outline-info" onclick="GetAddCategoryToUser()"> Kategori Ekle</a>
<div id="CategoryList">

  </div>
  <a class="btn btn-primary" asp-action="AddArticle"> Makale Ekle </a>

@if (Model.InterestedArticles!=null && Model.InterestedArticles.Count()>0) @*neden null gelmiyor burası sorulacak*@
{
<div id="InteredtedArticles">
 <main class="container-fluid p-4">
    <h2 class="mt-5 mt-3">Beğenebileceğiniz Makaleler</h2>
    <section class="row">
        @foreach (var item in Model.InterestedArticles)
        {            
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Content</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        <br />
                    </div>
                </div>
            </div>
        }
    </section>     
</main>
</div>
    <hr />
}
  
  
    


<div id="InteredtedArticles">
 <main class="container-fluid p-4">
    <h2 class="mt-5 mt-3">En çok Okunan Top 10 Makaleler</h2>
    <section class="row">
        @foreach (var item in Model.TopViewedArticles)
        {            
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Content</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        <br />
                    </div>
                </div>
            </div>
        }
    </section>     
</main>
</div>
<hr />
<div id="InteredtedArticles">
 <main class="container-fluid p-4">
    <h2 class="mt-5 mt-3">Tüm Makaleler</h2>
    <section class="row">
        @foreach (var item in Model.Articles)
        {            
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Content</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        <br />
                    </div>
                </div>
            </div>
        }
    </section>     
</main>
</div>
