@using MediumClone.Models.Authentication
@model IEnumerable<AppUser>

<h1 class="bg-info text-white">User List</h1>
<a asp-controller="Role" asp-action="Index" class="btn btn-secondary">Role List</a>
<div asp-validation-summary="All"></div>

<table class="table table-sm table-bordered">
    <tr>
        <th>User ID</th>
        <th>User Name</th>        
        <th>Account Status</th>
        <th></th>
        <th></th>        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.UserName</td>
            @if(item.LockoutEnd is null)
            {<td> Active</td>}
            else {<td> @item.LockoutEnd</td> }
            
            <td><a asp-action="Update"  class="btn btn-sm btn-danger" asp-route-id="@item.Id">Update</a></td>
            <td>
                <form asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@item.Id" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>

        </tr>
    }
</table>